body {
  font-family: Arial, sans-serif;
  background-color: #0f7be7;
}

.container {
  width: 80%;
  margin: 40px auto;
  background: rgb(204, 171, 171);
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #1e90ff;
  color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

td ul {
  text-align: left;
  padding-left: 20px;
}

img {
  max-width: 120px;
  height: auto;
}
